*{
    font-family: 'Jua', sans-serif;
    font-size: 32px;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
input{
    display: none;
}
/* 박스형태 공통 */
label:not(.dark_curtain) , .modal_window{
    text-align: center;
}
/* 버튼형 라벨 */
label:not(.dark_curtain){
    background-color: #ef233c;
    color: #fff;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    display: block;

}
/* 모달 번들 가운데 정렬 */
.modal_bundle{
    position: absolute;
    width: 0;
    height: 0;
}

/* 모달 윈도우 */
.modal_window{
    /* 위치 */
    position: absolute;
    width: 24rem;
    height: 12rem;
    background-color: #fff;
    transform: translate(-50% , -50%);
    z-index: 3;

    /* 초기상태 */
    margin-top: calc(50vh + 6rem);

    /* 내부요소정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.modal_window > .title{
    font-size: 1.4rem;
    font-weight: 600;
}
.modal_window > .content{
    margin : 0 1rem;
}
/* 클릭 시 , 위로 올라오게 */
#modal_switch:checked  ~ .modal_bundle > .modal_window{
    margin-top: 0;
}

/* 암막 */
.dark_curtain{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    transform: translate(-50% , -50%);
    opacity: 0;
    background-color: #000;
    z-index: -1;
}
#modal_switch:checked ~ .modal_bundle > .dark_curtain{
    opacity: 0.5;
    z-index: 2;
}
/* 트랜지션 */
.modal_window , .dark_curtain{
    transition: all .35s;
}
