/* 양쪽 마진 14px */
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top_menu{
    position: relative;
    width: 100vw;
    height: 49px;
    padding: 8px 14px;    

    /* about inner objects */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_menu > .align-left{
    font-size: 1.3rem;
    font-family: 'S-CoreDream-6Bold';
}
.top_menu > .align-right{
    display: flex;
    align-items: center;
    font-size: 20px;
    /* font-size: 16px; */
}
.top_menu > .align-right > .white_space{
    width: 17px;
    height: 20px;
}
.list{
    display: block;
    /* background-color: blue; */
    flex-grow: 1;
}

.list > .ad{
    /* width: 100vw;
    div는 원래 너비가 100vw 이다. */
}
.list > .ad > img{
    width: 100vw;
    border-radius: 1vw;
    padding: 0px 14px; 
}
li{
    display: flex;
    margin: 7px 0px;
    padding: 0px 14px;
    display: flex;  
    min-height: 60px;

    border: 1px solid black;
}
li img{
    width: 42px;
    height: 42px;
}
li > .align-mid{
    flex-grow: 1;
}
li > .align-right{
    flex-shrink: 0;
    padding-top: 16px;
    font-size: 0.85rem;
}
.nav{
    width: 100vw;
    height: 46.666px;
    background-color: yellow;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 22.5px;
    text-align: center;

    padding: 7px 14px 0px 14px;
}

